<jenkins>
    <installations>
        <hudson.tools.JDK.DescriptorImpl>
            <jdk name="Java 17" home="/opt/java/openjdk"/>
        </hudson.tools.JDK.DescriptorImpl>
    </installations>
    <plugins>
        <plugin>
            <shortName>workflow-aggregator</shortName>
            <version>2.6</version>
        </plugin>
        <plugin>
            <shortName>maven-plugin</shortName>
            <version>3.8</version>
        </plugin>
        <plugin>
            <shortName>gradle-plugin</shortName>
            <version>2.3.0</version>
        </plugin>
        <plugin>
            <shortName>docker-workflow</shortName>
            <version>1.26</version>
        </plugin>
        <plugin>
            <shortName>sonar-scanner</shortName>
            <version>2.10.1</version>
        </plugin>
        <plugin>
            <shortName>mysql-database-plugin</shortName>
            <version>1.6.0</version>
        </plugin>
        <plugin>
            <shortName>kubernetes-cli</shortName>
            <version>1.2.0</version>
        </plugin>
        <plugin>
            <shortName>git</shortName>
            <version>4.10.0</version>
        </plugin>
        <plugin>
            <shortName>blueocean</shortName>
            <version>1.24.0</version>
        </plugin>
        <plugin>
            <shortName>junit</shortName>
            <version>1.49</version>
        </plugin>
        <plugin>
            <shortName>jacoco</shortName>
            <version>3.0.4</version>
        </plugin>
    </plugins>
</jenkins>
